{% extends 'base.html' %}
{% load static %}
{% block title %}ToDo App{% endblock title %}

{% block alertmsgs %}
{% if messages %}
{% for msg in messages %}
<div class="alert alert-{% if msg.tags == "error" %}danger alert-danger alert-dismissible fade show {% else %} {{ msg.tags }} alert-{{ msg.tags }} alert-dismissible fade show {% endif %}"
    role="alert">
    <strong>Holy guacamole!</strong> {{ msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endblock alertmsgs %}

{% block body %}
<div class="row pt-3 mx-0">
    <div class="col-lg-4 shadow px-0">
        <div class="alert alert-info">
            <h2 class="text-center">ADD NEW TODO</h2>
        </div>
        <div class="p-4">
            <form action="{% url 'addtodo' %}" method="post">
                {% csrf_token %}
                <div>
                    {{form.as_p}}
                </div>
                <input type="submit" value="Create" class="btn btn-info">
            </form>
        </div>
    </div>
    <div class="col-lg-8">
            <table class="table table-bordered fs-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Status</th>
                        <th scope="col">Priority</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in todo %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{obj.title|title}}</td>
                        <td>{{obj.status}}</td>
                        <td>{{obj.priority}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>


{% endblock body %}